.TitleScreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.DynamicSplash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  width: 100vw;
  margin: 10vh 0;
  z-index: 10;
  transition: 300ms;
  height: 20vh;
}
.DynamicSplash svg {
  width: 20vh;
}
.DynamicSplash h1 {
  font-size: 10vh;
}
.DynamicSplash svg {
  height: 100%;
  margin-right: 2em;
  transition: 300ms;
}
.DynamicSplash .Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: 300ms;
}
.DynamicSplash .Text * {
  transition: 300ms;
  margin: 0;
}
.DynamicSplash .Text .Subtitle {
  height: 0;
  overflow: hidden;
  font-size: 2em;
}
.DynamicSplash.Title {
  top: calc(50vh - 20vmin);
  height: 40vh;
}
.DynamicSplash.Title svg {
  width: 40vh;
}
.DynamicSplash.Title h1 {
  font-size: 25vh;
}
.DynamicSplash.Home {
  margin: 8vh 0;
  height: 8vh;
}
.DynamicSplash.Home svg {
  width: 8vh;
}
.DynamicSplash.Home h1 {
  font-size: 8vh;
}
.DynamicSplash.Welcome .Subtitle.Welcome {
  height: 2em;
}
.DynamicSplash.SignUp .Subtitle.SignUp {
  height: 2em;
}
.DynamicSplash.LogIn .Subtitle.LogIn {
  height: 2em;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: #dae9ee;
  color: #0076a3;
  font-family: "Calibri";
}

@keyframes SectionHide {
  0% {
    max-height: 1000vh;
    opacity: 1;
  }
  99% {
    max-height: 1000vh;
    opacity: 0;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}
section {
  overflow: hidden;
}
section.Hidden {
  animation-name: SectionHide;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-delay: 0ms;
}
section .Splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 21vmin;
  margin: 14vmin 0;
}
section .Splash .Text {
  font-weight: 100;
}
section .Splash .Text * {
  margin: 0;
}
section .Splash .Text h1 {
  font-size: 21vmin;
}
section .Splash .Text h2 {
  font-size: 14vmin;
}
section .Splash .Text h3 {
  font-size: 7vmin;
}
section .Splash > * {
  display: inline-block;
}
section.TitleScreen .Splash {
  position: absolute;
  margin: 0;
  top: calc(50vh - 15vmin);
  height: 30vmin;
}

.Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 7vh;
  font-size: 5vmin;
}

.Button {
  background-color: #00aeef;
  color: #00212e;
  width: 80vmin;
  border-radius: 2vmin;
  text-align: center;
  font-size: 4vmin;
  position: relative;
  margin: 2vmin 0;
  padding: 2vmin 0;
  cursor: pointer;
}
.Button.Dim {
  background-color: #00212e;
  color: #a7ccda;
}
.Button.Naked {
  background: none;
  color: #00212e;
}
.Button img {
  position: absolute;
  left: 25%;
  height: 75%;
}
.Button p {
  margin: 0;
}
.Button p.Small {
  font-size: 0.5em;
}

form {
  width: 60vmin;
  margin-left: calc(50vw - 30vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vmin;
}
form * {
  display: block;
  box-sizing: border-box;
  margin: 1em 0;
  height: 3em;
  padding: 0.5em;
  width: 100%;
}

.HomeScreen .MenuBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #00212e;
  color: #dae9ee;
  display: flex;
  justify-content: space-between;
}
.HomeScreen > section {
  max-width: 100vmin;
  margin: 5vmin auto;
}
.HomeScreen .QuickActions {
  display: flex;
  justify-content: space-evenly;
}
.HomeScreen .QuickActions .ImgContainer {
  background: #a7ccda;
  border-radius: 2vmin;
  width: 20vmin;
  height: 20vmin;
}
.HomeScreen .QuickActions h3 {
  text-align: center;
  font-size: 1.5em;
}
.HomeScreen .Search input {
  width: 100%;
  padding: 0.5em;
  font-size: 2em;
}
.HomeScreen .Curated h1 {
  color: #00212e;
  border-bottom: 2px solid #00212e;
  font-size: 2em;
  text-transform: uppercase;
}
.HomeScreen .Curated li {
  list-style: none;
  display: flex;
  margin: 5vh 0;
}
.HomeScreen .Curated li .ImgContainer {
  background: #a7ccda;
  border-radius: 2vmin;
  width: 14vmin;
  height: 14vmin;
  margin-right: 2em;
}
.HomeScreen .Curated li h1, .HomeScreen .Curated li h2, .HomeScreen .Curated li h3, .HomeScreen .Curated li p {
  margin: 0;
}
.HomeScreen .Curated li h2 {
  color: #0076a3;
  font-size: 2.2em;
  margin-bottom: 0.3em;
}
.HomeScreen .Curated li p {
  color: #00212e;
}
.HomeScreen .Curated li p strong {
  color: #0076a3;
}

.CreateScreen label {
  text-align: left;
  font-size: 3vh;
  color: #00212e;
  margin: 2vh 0 0 0;
  border-bottom: 1px solid #0076a3;
}
.CreateScreen label p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0076a3;
}
